#animation {
  display: none;
}
#animation:after{  
  content: "";
  position: absolute;
  left: 0;
  top: 150px;
  height: 300px;
  background-color:#F9CE00;
  animation: secondaryImageOverlayIn 0.6s 0s cubic-bezier(.77,0,.175,1),        
             secondaryImageOverlayOut 0.6s 0.6s cubic-bezier(.77,0,.175,1);
  animation-fill-mode: both;
}
#animeText {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 170px;
  color: white;
  -webkit-text-stroke: 4px rgb(34, 5, 5);
  animation:fadeIn 0.1s 0.5s; 
  animation-fill-mode: both;
}

.fadeout {
  animation : fadeOut 1s;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
@keyframes secondaryImageOverlayIn {
    0% {
      width: 0;
    }
    100% {
      width:  100%;
    }
  }
  @keyframes secondaryImageOverlayOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(130%);
    }
  }
