textarea{
  float: left;
  width: 540px;
  height: 95%;
  background-color: #2E4025;
  color: #E8F7DD;
  border-left: 1px solid white;
  resize: none;
}

img{
  position: absolute;
}

.boxes{
  width: 1340px;
  display: table;
  position: absolute;
}

.statusBox{
  display: table-cell;
  vertical-align:middle;
}

.box{
  width: 200px;
  height: 270px;
  margin: 10px;
}

#box1{
  background-color: rgba(0, 38, 255 ,0.3);
}

#box1:hover{
  background-image: url("../image/playerBackground/bigDenden.png");
}

#box2{
  background: rgba(252, 27, 222, 0.3);
}
#box2:hover{
  background-image: url("../image/playerBackground/bigUsagi.png");
}

#box3{
  background: rgba(255, 36, 65, 0.3);
}

#box3:hover{
  background-image: url("../image/playerBackground/bigKani.png");
}

#box4{
  background: rgba(245, 221, 2, 0.3);
}

#box4:hover{
  background-image: url("../image/playerBackground/bigHiyoko.png");
}

.game_field{
  position: relative;
  background-image: url("../image/background/background20.png");
  display: block;
  overflow: hidden;
  margin-top: 0px;

  width: 900px;
  height: 500px;
  z-index: 0;
}

.bottom-menu{
  position: relative;
  float: left;
  font-family: sans-serif;
  background-color: #2E4025;
  color: #E8F7DD;
  border: 1px solid #D1F5BD;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 900px;
  height: 100px;
  z-index: 0;
}
button{
  display: inline;
  margin: 0%;
  background: transparent;
  cursor: pointer;
  /* border: none; */
  border-radius: 30px;
  color: #E8F7DD;
  outline: none;
  font-weight: 700;
}

button:hover{
  color: rgb(151, 206, 120);
}

button:active{
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
}

table{
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px;
}
tr td{
  padding: 0%;
  height: 40px;
}

.controlPanel{
  float: left;
  width: 354px;
  height: 100px;
}

#diceButton{
  position: relative;
  font-size: 20px;
  left: 20px;
  top: 4px;
  padding: 30px 110px 30px 110px;
}

#dice{
  position: absolute;
  display: none;
  width: 100px;
  top: 150px;
  left: 50px;
}
/* 画面サイズが小さくなっても正しく表示出来る用 */
@media screen and (min-width: 1340px){
  .boxes{
    margin: 0 0 0 -670px;  /*縦横半分をネガティブマージンでずらす*/
    position: absolute;     /*body要素に対して絶対配置*/
    left: 50%;      /*左端を中央に*/
  }
}

/* 画面サイズが小さくなっても正しく表示出来る用 */
@media screen and (max-width: 1340px){
  iframe{
    width: 1341px;
  }
}
