:root {
  --button-color: #64abe8;
  --button-dark: #3794E1;
  --button-light: #BCDBF5;
  --lightlight: #E8F3FB;
  --background-header: rgba(250, 250, 250, 0.7);
  --shadow-color: rgba(62, 62, 62, 0.13);
}

.inner {
  background-color: #f8f8f8;/*#E3EEFF;*/
  text-align: center;
  position: relative;
}

/* -----------------------------
    header
------------------------------*/
#header {
  position: relative;
  left: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: var(--background-header);/*#7087bb;*/
  box-shadow: 0px 3px 2.7px 0.3px var(--shadow-color);
}

#header .title {
  height: 40px;
}

#header .logo {
  width: 50px;
  height: 50px;
}