input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 7px #E8FBE5;
  border: 1px solid #E8FBE5;
}
h3{
  text-align: center;
  position: relative;
  color: green;
}
.register_form{
  text-align: center;
  position: relative;
  color: #335E1D;
  border: none;
  border-radius: 0;
  outline: none;
}

